extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            h3.w3-center Tabela Periódica
        ul    
          li
           a(href='/elementos') Elementos
          li
            a(href='/grupos')    Grupos
          li
            a(href='/periodos')  Periodos
        footer(class="w3-container w3-teal")
            adress.w3-left a85367